<form action="/login" method="post"  >
  email:<br>
  <input type="text" name="email" value="Mickey">
  <br>
  Passwort:<br>
  <input type="password" name="password" value="Mouse">
  <br><br>
  <input type="submit" value="login">
</form> 